################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ecossistema.API/Ecossistema.API/wwwroot/RepositoryFiles/55.ecs
