################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ecossistema.API/Ecossistema.API/wwwroot/RepositoryFiles/55.ecs
krisp_2.15.3_arm64.pkg
